/* color palette to test:
   red: B60202 [main]
   teal: E5FCF5 or B3DEC1 [accent]
   white: FEFFFE [secondary]
*/

/* || Global styles */
*, *:before, *:after {
   box-sizing: border-box;
 }

 html {
    font-size: 20px;
 }

 body {
   margin: 0;
   padding: 0;
   font: 300 100%/1.5 'Open Sans', sans-serif;
 }

 h1 {
   font: 700 300%/1.1 'Short Stack', cursive;
}

 /* || Selector Styles */
div.img {
   text-align: center;
}

.main-nav {
   width: 100%;
   background-color: #fefffe;
   height: 50px;
   padding: 0;
   margin-top: 0;
   text-align: center;
   position: fixed;
   z-index: 5;
 }

 .main-nav ul {
    margin-bottom: 1em;
 }

 .main-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 0.2em;
 }

div.first-third {
   background-color: #B60202;
   color:#fefffe;
   display: inline-block;
   position: absolute;
   width: 100vw;
   height: 80vh;
   padding: 1em 0;
   margin-left: 0px;
}

div.first-third h1 {
   text-align: center;
   padding: 0.75rem ;
   letter-spacing: -5px;
   text-shadow: -5px 1px 3px rgba(0,0,0,0.3);
}

div.first-third h2 {
   font-size: 22px;
   text-align: center;
   text-transform: lowercase;
}

div.first-third p {
   color: #fefffe;
   padding: 25px 10px;
   width: 70%;
   margin: 0 auto;
}

div.two-thirds {
   background-color: #fefffe;
   color: #B60202;
   margin: 0, auto;
   width: 70%
}

/* || Media Queries */